@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Snippet&display=swap');
/**{margin: 0; padding: 0;}
*{box-sizing: border-box;}*/

:root{
    --Snigle-font:"Snigle",cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(
        to bottom,
        #dd2476,#ff512f);
    --light-gray:rgba(255,255,255,0.87);
}
/*header*/
html,body{
    margin:0; padding:0;
    overflow-x: hidden;
}
header,
section{
    overflow-x: hidden;
} 
body{
    background-color: white;
}
.banner .banner_top{
    width: 100%;
}
.color-header{
    background-color:white;
    width: 100%;
}

#search-book{
    margin-left:11.5rem;
    width:35rem;
    outline:none;
}
#search-book:focus{
    box-shadow: 1px 1px 5px 1px rgb(226, 221, 221) inset;
}
button.btn.icon-fallback-text{
    background: #f7f8f7;
    height: 36px;
    margin-left: -51px;
}
.cart{
    height:3.5rem;
    margin:2rem;
    margin-left:10rem;
}
.cart-menu{
    position: relative;
}
.cart-menu-content{
    position: absolute;
    display:none;
    z-index: 1;
    background-color:rgb(206, 245, 232);
    box-shadow: 0px 8px 16px 0px rgba(30, 31, 30, 0.2);
    padding:20px;
    border-radius:10px;
    width: 300px;
    height: 300px;
    
}
.cart-menu:hover .cart-menu-content{
    display:block;
}
.login-logout{
    margin:2.5rem;
}
.login-logout >a{
    color:black;
    padding:10px;
}
.login-logout >a:hover{
    color:rgb(104, 103, 103);
}
.color-menu{
    background-color:green;
}
.btnmenu{
    margin-left:4rem;
    background-color:green;
    color:white;
    border:none;
}
.menu-dropdown{
    margin:10px;
    color:white;
}
.menu-dropdown-content{
    background-color:rgb(206, 245, 232);
    width: 15rem;
    margin-top:0.6rem;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 10px 20px 0px rgba(30, 31, 30, 0.2);
    transition:all 0.75s ;
}
.menu-dropdown-content .dropdown-item:hover{
    background-color:rgb(163, 206, 206);
}
.menu-dropdown-content a:hover{
    color:rgb(104, 76, 148);
}
.btnmenu:focus{
    outline:none;
}
.menu-dropdown-content a{
    display:block;
    text-decoration: none;
    color:black;
}
.menu-book{
    margin-left:1rem;
    margin-top:-3px;
}
.link-dropdown{
    position:relative;
}
.dropdown-content{
    display: none;
    position:absolute;
    z-index: 1;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 10px 20px 0px rgba(30, 31, 30, 0.2);
    background-color:rgb(206, 245, 232);
    margin-left:12rem;
    margin-top:-2.35rem;
    width: 15rem;
}
.dropdown-content a{
    padding-left:20px;
}
.link-dropdown:hover .dropdown-content{
    display:block;
}
.dropdown-content a:hover{
    background-color:rgb(163, 206, 206);  
}
.icon-hotline{
    margin-right: 5rem;
}
.hotline{
    margin-left:5px;
    margin-top:-3px;
}
.text-hotline{
    margin:10px;
    color:white;
}
#login_Box_Div,#singup_Box_Div{
    display:none;
    background-color:white; 
    z-index: 10;
    position: absolute;
    border:1px solid rgb(194, 191, 191);
    margin-left: 30rem;
    padding: 10px;
    border-radius: 6px;
    width: 25rem;
    height: 32rem;
    padding-left: 20px;
    box-shadow: 0px 10px 10px 0px rgba(139, 112, 112, 0.4); 
}
#carousel{
   z-index: 1;
}
/* section 2*/
.cover{
    width: 100%;
    height: 39vmin;
    background: url("../image/bacgroundflashsale.png");
    background-position: -9rem -18rem;
    background-size: 130%;
    position: relative;
}
section.section-2.container-fluid.p-0{
    margin-top: 1%;
}

section.section-1.container-fluid{
    width: 94%;
}
.container-fluid{
    width: 93%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cover .content{
    background: rgba(248,246,246,0);
    height: 100%;
    width: 100%;
    padding-top: 4vmin;
}

.cover .content>h1{
    font-family: var(--Patua);
    font-size: 8vmin;
    color: #e30e0e;
    margin-top: 4rem;
}

.section_book.section_base {
    margin-top: 1rem;
}
.cover .content>p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 5rem;
    height: 5rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 4.5em;
    border-color:solid 1px #00e600;
    box-shadow: 0px 0px 6px 3px rgba(19,248,21,0.3);
}

.numbers{
    margin-top: -15vmin;
}

.numbers .rect h1{
    font-size: 1rem;
    color: tomato;
}

.numbers .rect p{
    font-family: var(--Patua);
}

.purchase>h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p{
    font-family: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}

.cards div{
    padding: 0;
    margin: 0;
}

.cards .title{
    background: rgba(208,241,241,0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing{
    background: rgba(208,241,241,0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}
/*chu de dưới*/

.le{
    width: 2px;
}

/* section 3*/

.purchase>h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}

.cards div{
    padding: 0;
    margin: 0;
}

.cards .title{
    background: rgba(208,241,241,0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing{
    background: rgba(208,241,241,0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/*hết chủ đề dưới*/

/*blog carousel*/
a.btn-floating.btn-secondary.button_next{
    right: 0;
    left: unset;
    position: absolute;
    border: none;
    width: 45px;
    height: 45px;
    margin-top: -15px;
    padding: 0;
    top: 48%;
    outline: none;
    border-radius: 0;
    white-space: nowrap;
    margin-right: 175px;
    margin-left: 0;
    font-size: 30px;
    opacity: .7;
    cursor: pointer;
    background: #ebebeb;
}
a.btn-floating.btn-secondary.button_prev{
    left: 0;
    position: absolute;
    border: none;
    width: 45px;
    height: 45px;
    margin-top: -15px;
    padding: 0;
    top: 48%;
    outline: none;
    border-radius: 0;
    white-space: nowrap;
    margin-right: 0;
    margin-left: 98px;
    font-size: 30px;
    opacity: .7;
    cursor: pointer;
    background: #ebebeb;
}
a.btn-floating.btn-secondary.button_next:hover{
    background: #99ff99;
}
a.btn-floating.btn-secondary.button_prev:hover{
    background: #99ff99;
}

/*het blog carousel*/

/*SACH VAN HOC*/
.heading1 h2 a{
    text-transform: uppercase;
    display: inline-block;
    color: #252525;
}
.heading1 h2 a:hover{
    color: #00b316;
    text-decoration: none;
    cursor: pointer;
}
.heading1 h2{
    font-size: 24px;
    font-family: var(--Patua);
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 0;
    padding-left: 14px;
    padding-right: 15px;
    background: #f3f3f5;
    z-index: 999;
    display: block;
}
.heading1{
    float: left;
}
.section_base .col-lg-12 .title_top_menu_index:before{
    position: absolute;
    content: "";
    width: 68%;
    height: 3px;
    background: #ebebeb;
    top: 13px;
    left: 20%;
}
.section_base .col-lg-12 .title_top_menu_index {
    display: block;
    margin: 0;
    position: relative;
    margin-bottom: 40px;
}
.heading1 h2:before{
    content: "";
    background: #f9c80b;
    width: 6px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 6px;
}
.btn_xemthem{
    display: inline-block;
    height: 43px;
    line-height: 42px;
    padding: 0 25px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    background: #fff;
    box-shadow: 0px 8px 18px 0px rgba(81,81,81,0.14);
}

.btn_xemthem:hover {
    background: #00d664;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
}
.hidden-xs a{
    padding-top: 4px;
}
hr.stars {
    width: 73%;
    margin-left: 15%;
}
.section_base .title_top_menu_index .xemthem_tab{
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 999;
}
.stars {
  height: auto;
  color: gold;
  text-align: center;
  &:after {
    content: "★";
    font-size: 2em;
    text-shadow:
      -2em 0,
      -1em 0,
       1em 0,
       2em 0;
  }
}
/*HẾT SÁCH VĂN HỌC*/
/*banner bottom*/
section.banner_bottom{
    margin-top: 96px;
}
/*het banner bottom*/

@media only screen and (max-width: 768px){
  .header .logo{
    width: 2rem;
    height: 3rem;
  }
  .carousel-control-prev{
    
  }
 }